/*--------------------------------------------------------------
# Responsive breakpoints.
--------------------------------------------------------------*/
$desktop-breakpoint: 1220px;
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 769px;
$mini-breakpoint: 480px;
